@import "titlebar.css";
@import "console.css";
@import "menu.css";
@import "scrollbar.css";
@import "modal.css";
@import "mindustry-colors.css";

@font-face {
    font-family: Mindustry;
    src: url('../fonts/fontello.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    background: #0c0c0c;
    color: white;
}
