.mindustry-white {
    color: rgba(256, 256, 256, 256);
}

.mindustry-blue {
    color: rgba(0, 0, 256, 256);
}

.mindustry-navy {
    color: rgba(0, 0, 128, 256);
}

.mindustry-royal {
    color: #4169e1ff;
}

.mindustry-slate {
    color: #708090ff;
}

.mindustry-sky {
    color: #87ceebff;
}

.mindustry-cyan {
    color: rgba(0, 256, 256, 256);
}

.mindustry-teal {
    color: rgba(0, 128, 128, 256);
}

.mindustry-green {
    color: #0f0f;
}

.mindustry-acid {
    color: #7fff00ff;
}

.mindustry-lime {
    color: #32cd32ff;
}

.mindustry-forest {
    color: #228b22ff;
}

.mindustry-olive {
    color: #6b8e23ff;
}

.mindustry-yellow {
    color: #ff0f;
}

.mindustry-gold {
    color: #ffd700ff;
}

.mindustry-goldenrod {
    color: #daa520ff;
}

.mindustry-orange {
    color: #ffa500ff;
}

.mindustry-brown {
    color: #8b4513ff;
}

.mindustry-tan {
    color: #d2b48cff;
}

.mindustry-brick {
    color: #b22222ff;
}

.mindustry-red {
    color: #f00f;
}

.mindustry-scarlet {
    color: #ff341cff;
}

.mindustry-crimson {
    color: #dc143cff;
}

.mindustry-coral {
    color: #ff7f50ff;
}

.mindustry-salmon {
    color: #fa8072ff;
}

.mindustry-pink {
    color: #ff69b4ff;
}

.mindustry-magenta {
    color: rgba(256, 0, 256, 256);
}

.mindustry-purple {
    color: #a020f0ff;
}

.mindustry-violet {
    color: #ee82eeff;
}

.mindustry-maroon {
    color: #b03060ff;
}

.mindustry-info {
    color: #2fa7d3;
}

.mindustry-warning {
    color: #ffe046;
}

.mindustry-error {
    color: #fa8072ff;
}
